{% extends 'femtolytics/base.html' %}

{% block content %}
{% include 'femtolytics/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if apps|length > 1 %}
            <select class="form-control mb-2" id="app_selector">
                {% for a in apps %}
                    <option value="{{ a.id }}" data-url="{% url 'femtolytics:visitors_by_app' a.id %}" {% if a.id == app.id %}selected{% endif %}>{{ a.package_name }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <h1 class="pb-1 mb-5 section">Goals</h1>
        </div>
    </div>
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-bordered table-condensed table-hover">
                <thead class="thead-dark">
                    <tr><th>Goal</th><th>Occurences</th></tr>
                </thead>
                <tbody>
                    {% for name, goal in goals.items %}
                        <tr>
                            <td>
                                <a href="{% url 'femtolytics:goal' app.id goal.id %}">{{ name }}</a>
                            </td>
                            <td>{{ goal.count }}</td>
                        </tr>
                    {% endfor %}        
                </tbody>
            </table>
        
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#app_selector').change(function() {
        var selected = $("option:selected", this);
        window.location = selected.attr('data-url');
    })
})
</script>
{% endblock %}
