{% extends 'femtolytics/base.html' %}

{% block content %}
{% include 'femtolytics/navbar.html' %}
<div class="container">
    
    <div class="row">
        <div class="col">
            {% if apps|length > 1 %}
            <select class="form-control mb-2" id="app_selector">
                {% for a in apps %}
                    <option value="{{ a.id }}" data-url="{% url 'femtolytics:sessions_by_app' a.id %}" {% if a.id == app.id %}selected{% endif %}>{{ a.package_name }}</option>
                {% endfor %}
            </select>
            {% endif %}
            <h2>Sessions</h2>
        </div>
    </div>

    {% for session in sessions %}
        {% include 'femtolytics/fragments/session.html' %}
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $('#app_selector').change(function() {
        var selected = $("option:selected", this);
        window.location = selected.attr('data-url');
    })
})
</script>
{% endblock %}
