{% extends 'femtolytics/base.html' %}

{% block content %}
{% include 'femtolytics/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2><a href="{% url 'femtolytics:visitors_by_app' visitor.app_id %}">&lt;</a>&nbsp;{{ visitor.name}}</h2>
            <p>Joined {{ visitor.registered_at|date:'Y/m/d H:i:s'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>{{ visitor.session_set.count }} Sessions</h2>
            {% for session in sessions %}
                {%include 'femtolytics/fragments/session.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}