{% extends 'femtolytics/base.html' %}

{% block content %}
{% include 'femtolytics/navbar.html' %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2><a href="{% url 'femtolytics:visitors_by_app' visitor.app_id %}">&lt;</a>&nbsp;Visitor</h2>
            <p class="text-muted mb-0">{{ visitor.id}}</p>
            <p class="text-muted mb-0">{{ visitor.created_at|date:'Y/m/d H:i:s'}}</p>
            <p class="text-muted mb-0">{{ visitor.session_set.count }} sessions</p>
            <p class="text-muted mb-4">{{ visitor.app.package_name }}</p>
            <h2>Sessions</h2>
        </div>
    </div>
    {% for session in sessions %}
        {%include 'femtolytics/fragments/session.html' %}
    {% endfor %}
</div>
{% endblock %}